/* From https://css.glass */
.container{

    background: rgba(0, 0, 0, 0.63);
    border-radius: 9px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgb(64, 64, 64);
    width: 100%;
    display: flex;
    height: 130px;
    margin: 2rem 1rem;
    overflow: hidden;
}
.name{
    color: white;
    font-size: 1.7rem;
    margin: 0;
}