.cont{
    width: 100%;
    height: 100%;
    display: flex;
   ;
    /* border: 1px solid blue; */
}
.state_column{
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.state{
    border: 2px solid black;
    width: 100%;
    height: 40px;
    font-size: 2rem;
    font-weight: bold;
}